Repository brndnmtthws/rust-action-cargo-binstall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Initial commit
  .eslintignore
  .eslintrc.cjs
  .gitattributes
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  LICENSE.md
  README.md
  action.yml
  dist/index.mjs
  dist/index.mjs.map
  dist/licenses.txt
  dist/sourcemap-register.cjs
  jest.config.cjs
  package-lock.json
  package.json
  src/main.mts
  src/util.ts
  tests/main.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add this here too.
  .github/workflows/release-new-action-version.yml
Due: prettier --write

Fix that
  README.md
Due: prettier --write

Disable symlink feature of binstall
  src/main.mts
Due: eslint --fix

Add dist after commit
  .husky/pre-commit
  dist/index.mjs
  dist/index.mjs.map
Due: eslint --fix

1.0.1
  package-lock.json
  package.json
Due: prettier --write

Group dependabot updates
  .github/dependabot.yml
Due: prettier --write

Fix these deps
  package-lock.json
  package.json
Due: prettier --write

Remove unused imports
  src/main.mts
Due: eslint --fix

Fix tsconfig
  dist/index.mjs
  dist/index.mjs.map
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

Update dist
  dist/index.mjs
  dist/index.mjs.map
Due: eslint --fix

Bump deps
  dist/index.mjs.map
  package-lock.json
  package.json
Due: prettier --write

npm audix fix
  dist/index.mjs
  dist/index.mjs.map
  package-lock.json
Due: eslint --fix, prettier --write

Update from node16 to node20
  action.yml
Due: prettier --write

Bump node version
  .github/workflows/build-and-test.yml
  .github/workflows/check-dist.yml
  package-lock.json
  package.json
Due: prettier --write

Bump version
  package-lock.json
  package.json
Due: prettier --write

Update build
  dist/index.mjs
  dist/index.mjs.map
Due: eslint --fix

Bump deps
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
  prettier --write: any of: *.{md,html,css,json,yaml,yml}
